@model CheckoutViewModel

@section head {
    <link href="/css/ticket.css" rel="stylesheet" />
}

@{
    var booking = ViewBag.BookingData as BookingSessionData;
}

<main>
    <div class="page">

        <!-- Left -->
        <section>
            <h1>Complete Your Purchase</h1>
            <p class="subtitle">Please review your order and enter payment details securely.</p>

            <!-- Promotion -->
            

            <div class="card voucherList" data-OpenVoucher>
                <div class="flex justify-between items-start mb-4 memberPoint ">
                    <div>
                        <h3 class="text-black-50 text-lg font-bold flex items-center gap-2">
                            <span class="material-symbols-outlined text-primary">local_offer</span>
                            Voucher
                        </h3>
                    </div>
                    <button class="text-primary text-sm font-semibold hover:underline"><i class="fa-solid fa-angle-right arrowRight"></i></button>
                </div>

                <!-- Applied Voucher -->
                <div id="appliedVoucher">
                    <partial name="_AppliedVoucher">
                </div>
            </div>



                <div class="card">
                    <div class="flex justify-between items-start mb-4 memberPoint">
                        <div>
                            <h3 class="text-black-50 text-lg font-bold flex items-center gap-2">
                                <span class="material-symbols-outlined text-primary">loyalty</span>
                                Loyalty Rewards
                            </h3>
                            <p class="text-text-secondary text-sm mt-1">
                                You have <span class="text-primary font-bold">2,450 pts</span> available.
                            </p>
                        </div>

                        <button class="text-primary text-sm font-semibold hover:underline"><i class="fa-solid fa-angle-right arrowRight"></i></button>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="bg-[#101323] border border-border-dark p-3 rounded-lg flex items-center gap-3 hover:border-primary/50 transition-colors cursor-pointer group">
                            <div class="w-12 h-12 bg-white/5 rounded-md flex items-center justify-center shrink-0">
                                <span class="material-symbols-outlined text-amber-400">local_activity</span>
                            </div>
                            <div class="flex-1">
                                <h4 class="text-black-50 text-sm font-semibold">Free Popcorn (L)</h4>
                                <p class="text-text-secondary text-xs">500 pts</p>
                            </div>
                            <div class="w-5 h-5 rounded-full border border-border-dark group-hover:border-primary flex items-center justify-center">
                                <div class="w-2.5 h-2.5 rounded-full bg-primary opacity-0 group-hover:opacity-100 transition-opacity">
                                </div>
                            </div>
                        </div>
                        <div class="bg-[#101323] border border-border-dark p-3 rounded-lg flex items-center gap-3 hover:border-primary/50 transition-colors cursor-pointer group">
                            <div class="w-12 h-12 bg-white/5 rounded-md flex items-center justify-center shrink-0">
                                <span class="material-symbols-outlined text-purple-400">local_drink</span>
                            </div>
                            <div class="flex-1">
                                <h4 class="text-black-50 text-sm font-semibold">Drink Upgrade</h4>
                                <p class="text-text-secondary text-xs">300 pts</p>
                            </div>
                            <div class="w-5 h-5 rounded-full border border-border-dark flex items-center justify-center">
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Payment Method-->
            <div class="card">
                <h3>Payment Method</h3>

                <div class="paymentSelect">
                    <label for="creditCard" class="methodBtn" data-method="creditCard">
                        <input type="radio" name="method" id="creditCard" checked/>
                        <div class="methodCard">
                            <span class="material-symbols-outlined">credit_card</span>
                            &nbsp; Card
                        </div>
                        
                    </label>

                    <label for="ewallet" class="methodBtn" data-method="ewallet">
                        <input type="radio" name="method" id="ewallet" />
                        <div class="methodCard">
                            <span class="material-symbols-outlined">account_balance_wallet</span>
                            &nbsp; E-wallet
                        </div>
                    </label>
                </div>

                <div id="payWithCard">
                    <label>Card Number</label>
                    <input type="text" placeholder="0000 0000 0000 0000" />

                    <div class="cardInputDetail">

                        <div class="form-row">
                            <div>
                                <label>Expiry Date</label>
                                <input type="month" placeholder="MM/YY" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div>
                                <label>CVV</label>
                                <input type="text" placeholder="XXX" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="payWithEwallet">
                    <label>Phone Number</label>
                    <input type="text" placeholder="+6012 3456 789" />

                    <div class="form-row">
                        <div>
                            <label>PIN Number</label>
                            <input type="password" placeholder="PIN Number" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <a href="/Ticket/Receipt" class="btn-primary">Pay $35.40</a>
                <button class="btn-secondary">Cancel</button>
            </div>
        </section>

        <!-- Right -->
        <section>
            <div class="card">
                <div class="timeHeader">
                    <p class="text-text-secondary text-sm font-medium">Time remaining to purchase</p>
                    <span class="material-symbols-outlined text-text-secondary text-sm">timer</span>
                </div>
                

                <div id="timer">
                    @Html.Partial("_Timer", Model.Timer)
                </div>

                <form id="timerAjaxForm"
                      data-ajax="true"
                      data-ajax-update="#timer"
                      method="GET"
                      action="/Ticket/Checkout">
                </form>
            </div>

            <div class="card">
                <h3>Order Summary</h3>
                <div class="summary-row"><span>Standard Ticket (x @booking.TicketQuantity)</span><span>@booking.TicketSubtotal</span></div>
                <div class="summary-row"><span>Convenience Fee</span><span>$3.50</span></div>
                <div class="summary-row summary-total"><span>Total Payable</span><span>@booking.TicketSubtotal</span></div>
            </div>
        </section>
        

    </div>
</main>

<form data-ajax="true"
      data-ajax-update="#appliedVoucher"
      asp-action="ApplyVoucher"
      method="post"
      id="appliedVoucherForm">

<div id="voucherModal" class="modal-overlay">
    <div class="voucher-modal">

        <div class="modal-header">
            <h3>Available Vouchers</h3>
            <button class="btnClose" data-CloseVoucher>✕</button>
        </div>

        <div class="modal-body">

                <label class="voucher-card">
                    <input type="radio" name="SelectedVoucher" value="" checked>

                    <div class="voucher-content">
                        <div>
                            <h5>Not apply any voucher</h5>
                        </div>
                    </div>
                </label>

            @foreach (var v in ViewBag.Vouchers)
            {
                <label class="voucher-card">
                    <input type="radio" name="SelectedVoucher" value="@v.VoucherCode">

                    <div class="voucher-content">
                        <div>
                            @if(@v.VoucherType == "percentage")
                            {
                                <strong>@v.DiscountValue % off</strong>
                            }
                            else
                            {
                                <strong>RM @v.DiscountValue off</strong>
                            }
                            
                            <p>Minimum Spend : @v.MinSpend</p>
                        </div>
                        <span class="badge">@v.StartDate.ToString("dddd-MM-yyyy") - @v.EndDate.ToString("dddd-MM-yyyy") </span>
                    </div>
                </label>
            }
            
        </div>

        <div class="modal-footer">
                <button class="btn-primary" data-voucher="/Ticket/ApplyVoucher" data-CloseVoucher>Apply Voucher</button>
        </div>

    </div>
</div>
</form>

@section foot{
    <script>
        setInterval(function () {
            $("#timerAjaxForm").submit();
        }, 1000);

        $('[data-voucher]').on('click', e => {
            $('#appliedVoucherForm').submit()
        })
    </script>
}