@model IEnumerable<PaymentVM>

@section head{
    <link href="/css/myTicket.css" rel="stylesheet" />
}

@{
    var css = "";
}

<div class="app">
    <!-- Main -->
    <main>
        <div class="container">
            <div>
                <h1>My Tickets</h1>
                <p class="subtitle">View and manage your upcoming and past movie bookings</p>
            </div>

            <div class="controls">
            </div>

            @if (Model?.Any() == false)
            {
                <div>No any purchased ticket found</div>
            }

            @foreach(var vm in Model)
            {
                if (vm.Status == "Paid")
                {
                    css = "badge-confirmed";
                }
                else
                {
                    css = "badge-refund";
                }
                <div class="ticket">
                <div class="poster"><img src="/uploads/@vm.Movie.PosterUrl" /></div>
                <div class="ticket-content">
                    <div>
                        <div class="badges">
                                <span class="@css">@vm.Status</span>
                                @if (vm.Status == "Paid")
                                {
                                    <span class="badge-format">Paid At : @vm.Date</span>
                                }
                                else
                                {
                                    <span class="badge-format">Refund At : @vm.Date</span>
                                }
                            </div>
                            <h3 class="movieTitle">@vm.Movie.Title</h3>
                            <p class="subtitle">@vm.Movie.PremierDate.ToString("dddd, dd MMMM yyyy") • @vm.ShowTime.StartTime</p>
                    </div>
                    
                            <div class="actions">
                               
                                <a href="/Ticket/TicketDetail/@vm.PaymentId"><button><span class="material-symbols-outlined">qr_code_2</span>View Ticket</button></a>
                                @if (vm.Status == "Paid")
                                {
                                    <form method="post" action="/Ticket/Refund" id="refundForm">
                                    <input type="hidden" name="paymentId" value="@vm.PaymentId" />
                                        <button type="submit"><span class="material-symbols-outlined">qr_code_2</span>Refund</button>
                                    </form>
                                }
                                
                            </div>
                    
                </div>
            </div>
            }
        </div>
    </main>

</div>