@model PurchaseVM

@section head{
    <link href="/css/ticket.css" rel="stylesheet" />
}

@{
    int totalMinutes = Model.MovieDuration;
    int hours = totalMinutes / 60;
    int minutes = totalMinutes % 60;
}

<section id="detail" class="p_3">
	<div class="container-xl">
		
		<div class="detail_2 row mt-4">
			<div class="col-md-4">
				<div class="detail_2l">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">
							<a href="#"><img src="/uploads/@Model.MoviewUrl" height="530" class="w-100" alt="abc"></a>
						</figure>
					</div>
				</div>
			</div>

			<div class="col-md-8">

                <div class="detail_3 row mt-4">
                    <div class="">
                        <div class="detail_3l">

							<div class="col-md-6 mb-3">
								<div class="detail_1l">
									<h2>@Model.MovieTitle</h2>
									<h4 class="mb-0 text-muted">
                                        @Model.MovieRating . 
                                        @if (hours > 0)
                                        {
                                            @($"{hours} h ")
                                        }
                                        @minutes m </h4>
								</div>
							</div>

                            <h5 class="mb-3 text-muted">
                                <span class="fw-bold text-black me-md-4">Cinema</span><br />
                                @Model.OutletCity - @Model.OutletName
                            </h5>

							<div class="changeRow">
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-lg-4">Date</span><br />
                                    @Model.StartTime.ToString("dddd, d MM yyyy")
                                </h5>
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-sm-4">Time</span><br />
                                    @Model.StartTime.ToString("HH:mm")
                                </h5>
							</div>

                            <div class="changeRow">
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-4">Hall</span><br />
                                    @Model.HallName
                                </h5>
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-4">Seat</span><br />
                                    @string.Join(", ", Model.SelectedSeatIdentifiers)
                                </h5>
							</div>

							<hr />

							<!-- With Price -->
                            <div class="changeRow">
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-4">Ticket</span><br />
                                    Standard x @Model.TicketQuantity
                                </h5>
                                <div>
                                    <br />
                                    <h5 class="mb-3 text-muted displayPrice">
                                        RM @Model.TicketSubtotal
                                    </h5>
                                </div>
                            </div>

                            <div class="changeRow">
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-4">Add-On</span><br />
                                    @for (int i = 0; i < Model.OrderName.Count; i++)
                                    {
                                        @Model.OrderName[i] <span>x</span> @Model.OrderQuantity[i] <br />
                                    }
                                </h5>
                                <div>
                                    <br />
                                    <h5 class="mb-3 text-muted displayPrice">
                                        @for (int i = 0; i < Model.OrderName.Count; i++)
                                        {
                                            decimal subtotal = Model.OrderPrice[i] * Model.OrderQuantity[i];
                                            <span>RM</span> @subtotal <br />
                                        }
                                    </h5>
                                </div>
                            </div>

                            <hr />

                            <div class="changeRow">
                                <h5 class="mb-3 text-muted">
                                    <span class="fw-bold text-black me-4">Total</span>
                                </h5>
                                <div>
                                    <h5 class="mb-3 text-muted displayPrice">
                                        RM @Model.total
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>

<div class="checkout">
	<p class="term">
		By click on the "Checkout & Pay" button, I agree to Terms & Conditions and Privacy Policy, and hereby confirm my selection and movie details
	</p>

    <a href="/Ticket/Checkout">
        <button class="checkoutbtn">
            <b>Check out & Pay</b>
        <span><i class="fa-regular fa-clock"></i> Time Left: 01:00</span>		
	    </button>
    </a>
	
</div>