@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Order>

@{
    string[] sortableFields = { "Id", "Date", "Cinema", "CollectDate" };

}

<table>
    <thead>
        <tr>
            @foreach (var f in sortableFields)
            {
                string dir = "asc";
                string css = "";

                if (ViewBag.Sort == f)
                {
                    dir = ViewBag.Dir == "asc" ? "des" : "asc";
                    css = ViewBag.Dir;
                }

                <th>
                    <a data-ajax="true"
                       data-ajax-update="#target"
                       data-ajax-loading="#loader"
                       href="?search=@ViewBag.Search&sort=@f&dir=@dir"
                       class="@css">
                        @f
                    </a>
                </th>
            }
            <th>Paid</th>
            <th>Claim</th>
            <th>Count</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.Date.ToString("yyyy-MM-dd")</td>
                <td>@o.Cinema</td>
                <td>@o.CollectDate.ToString("yyyy-MM-dd")</td>

                <td>
                    <span class="badge @(o.Paid ? "badge-paid" : "badge-unpaid")">
                        @(o.Paid ? "Paid" : "Unpaid")
                    </span>
                </td>

                <td>
                    <span class="badge @(o.Claim ? "badge-claimed" : "badge-unclaimed")">
                        @(o.Claim ? "Claimed" : "Unclaimed")
                    </span>
                </td>

                <td>@o.OrderLines.Sum(x => x.Quantity)</td>
                <td>@o.OrderLines.Sum(x => x.Price * x.Quantity)</td>

                <td>
                    <button data-get="/Admin/ViewOrderDetails/@o.Id" class="detail-btn">
                        Detail
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "loader"
    };
}

<div class="pagination-wrapper">
    @Html.PagedListPager(
    Model,
    page => $"?search={ViewBag.Search}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={page}",
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(options, ajaxOptions)
        )
</div>
