<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movie Theme</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/photos/android-chrome-192x192.png" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/movie.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/product.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;900&amp;family=Noto+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com" rel="preconnect" />
	<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	@RenderSection("head", false)
</head>
<body>
	@{
		// Default link for Guests and Members
		string logoLink = "/Home/Index";

		if (User.IsInRole("Admin"))
		{
			logoLink = "/Admin/AdminDashboard";
		}
		else if (User.IsInRole("Staff"))
		{
			logoLink = "/Staff/StaffDashboard";
		}
	}
	<div class="info">@Html.Raw(TempData["Info"])</div>
	
	<div class="main clearfix position-relative">
        <!-- Searching -->
		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none; top:0;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-transparent border-0">
					<div class="modal-header border-0">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
					</div>
					<div class="modal-body p-0">
						<div class="search_1">
							<div class="input-group">
								<input type="text" class="form-control bg-white border-0" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-primary bg_oran border_1 rounded-0 p-3 px-4" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Navigation Bar -->
		<div class="main_o">
			<div class="main_o1 bg_back">
				<section id="header">
					<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
						<div class="container-fluid">
							<a class="fw-bold text-white" href="@logoLink">
								<img style="max-width:100px; height:30px;" src="/photos/logo.png" />
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mb-0 ms-auto">
									@if (!User.Identity.IsAuthenticated || User.IsInRole("Member"))
									{
										@* This inner check ensures Staff/Admin don't see these links if they somehow acquire the "Member" claim. *@
										@if (!User.IsInRole("Staff") && !User.IsInRole("Admin"))
										{
											<li class="nav-item">
												<a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
												   aria-current="page"
												   asp-action="Index"
												   asp-controller="Home">
													Home
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/Home/about">About Us</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/Movie/index">Movies</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/Home/contact"> Contact Us</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/Product/UserIndex">Food</a>
											</li>
											<li class="nav-item dropdown">
												<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
													Pages
												</a>
												<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
													<li><a class="dropdown-item" href="/Home/faq"><i class="fa fa-chevron-right font_12 me-1"></i> Faqs</a></li>
													@* IMPORTANT: Hide Login/Register links if the user is a LOGGED-IN Member *@
													@if (!User.Identity.IsAuthenticated)
													{
														<li><a class="dropdown-item" asp-controller="User" asp-action="Login"><i class="fa fa-chevron-right font_12 me-1"></i> Login</a></li>
														<li><a class="dropdown-item" asp-controller="User" asp-action="Register"><i class="fa fa-chevron-right font_12 me-1"></i> Register</a></li>
													}
													<li><a class="dropdown-item border-0" href="/Ticket/MyTicket"><i class="fa fa-chevron-right font_12 me-1"></i> Ticket</a></li>
												</ul>
											</li>
										}
									}


									@if (User.IsInRole("Staff"))
									{
										<li class="nav-item">
											<a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Staff" && ViewContext.RouteData.Values["action"]?.ToString() == "StaffDashboard" ? "active" : "")"
											   aria-current="page"
											   asp-action="StaffDashboard"
											   asp-controller="Staff">
												Dashboard
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "MemberList" ? "active" : "")"
											   href="/User/MemberList">
												User
											</a>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Product
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownStaff">
												<li><a class="dropdown-item" href="/Product/Index"><i class="fa fa-chevron-right font_12 me-1"></i> Manage Products</a></li>
												<li>
													<a class="dropdown-item" asp-action="ViewOrder"
													   asp-controller=""><i class="fa fa-chevron-right font_12 me-1"></i> View Orders</a>
												</li>
												<li><a class="dropdown-item" href="/Staff/Scan"><i class="fa fa-chevron-right font_12 me-1"></i> Webcam</a></li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaffMovie" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Movie
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownStaffMovie">
												<li><a class="dropdown-item" href="/Movie/Movies"><i class="fa fa-chevron-right font_12 me-1"></i> Manage Movie</a></li>
												<li><a class="dropdown-item" href="/Staff/ViewOrders"><i class="fa fa-chevron-right font_12 me-1"></i> View Orders</a></li>
											</ul>
										</li>
									}

									@if (User.IsInRole("Admin"))
									{

										<li class="nav-item">
											<a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "AdminDashboard" ? "active" : "")"
											   aria-current="page"
											   asp-action="AdminDashboard"
											   asp-controller="Admin">
												Dashboard
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "MemberList" ? "active" : "")"
											   href="/User/MemberList">
												User
											</a>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminProduct" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Reports
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownAdminProduct">
												<li><a class="dropdown-item" href="/Report/ProductReport"><i class="fa fa-chevron-right font_12 me-1"></i> Food Report</a></li>
												<li><a class="dropdown-item" href="/Report/SalesChart"><i class="fa fa-chevron-right font_12 me-1"></i> Food Sales Chart</a></li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminProduct" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Product
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownAdminProduct">
												<li><a class="dropdown-item" href="/Product/Index"><i class="fa fa-chevron-right font_12 me-1"></i> Manage Product</a></li>
												<li><a class="dropdown-item" href="/Admin/ViewOrder"><i class="fa fa-chevron-right font_12 me-1"></i> View Order</a></li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminMovie" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Movie
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownAdminMovie">
												<li><a class="dropdown-item" href="/Movie/Movies"><i class="fa fa-chevron-right font_12 me-1"></i> Manage Movie</a></li>
												<li><a class="dropdown-item" href="/ShowTime/ShowTimeManage"><i class="fa fa-chevron-right font_12 me-1"></i> ShowTime Manage</a></li>
												<li><a class="dropdown-item" href="/ActionLog/ActionLogList"><i class="fa fa-chevron-right font_12 me-1"></i> Logs</a></li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminMovie" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Hall
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownAdminMovie">
												<li><a class="dropdown-item" href="/Hall/ManageHalls"><i class="fa fa-chevron-right font_12 me-1"></i> Manage Hall</a></li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminMovie" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Booking
											</a>
											<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdownAdminMovie">
												<li><a class="dropdown-item" href="/Booking/BookingManagement"><i class="fa fa-chevron-right font_12 me-1"></i> Booking List</a></li>
											</ul>
										</li>
									}

								</ul>

								<ul class="navbar-nav mb-0 ms-auto">
									<li class="nav-item">
										<a class="nav-link fs-5 drop_icon" data-bs-target="#exampleModal2" data-bs-toggle="modal" href="#"><i class="fa fa-search"></i></a>
									</li>

									@if (User.Identity.IsAuthenticated)
									{
										<li class="nav-item dropdown">
											<a class="nav-link fs-5 drop_icon dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="fa fa-user"></i>
											</a>
											<ul class="dropdown-menu drop_1 dropdown-menu-end" aria-labelledby="userMenu">
												<li><a class="dropdown-item" href="/User/Profile">My Profile</a></li>
												<li><a class="dropdown-item" href="/User/SignOut">Log Out</a></li>
											</ul>
										</li>
									}
									else
									{
										<li class="nav-item">
											<a class="nav-link fs-5 drop_icon"
											   asp-controller="User"
											   asp-action="Login"
											   title="Login/Register">
												<i class="fa fa-user"></i>
											</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</nav>
				</section>

                @RenderSection("title", false)
			</div>
		</div>
        
		
	</div>

	<div class="border_dashed">
	</div>

	@RenderBody()

		<section id="footer" class="p_3 bg-black">
			<div class="container-xl">
				<div class="footer_1 row pb-4">
					<div class="col-md-3">
						<div class="footer_1l">
						<h4 class="mb-0">
							<h4 class="mb-0">
								<a class="fw-bold text-white" href="@logoLink">
									<img style="max-width:100px; height:30px;" src="/photos/logo.png" />
								</a>
							</h4>
						</h4>
						</div>
					</div>
					<div class="col-md-9">
						<div class="footer_1r text-end">
							<ul class="mb-0">
								<li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Help</a></li>
								<li class="d-inline-block text-white-50">/</li>
								<li class="d-inline-block me-2"><a class="text-white-50 a_tag" href="#"> Privacy Policy</a></li>
								<li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-twitter"></i></a></li>
								<li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-facebook"></i></a></li>
								<li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-instagram"></i></a></li>
								<li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer_2 row mt-4">
					<div class="col-md-3">
						<div class="footer_2i">
							<p class="text-white fw-bold fs-5">Buy movie tickets easily with Aovis system nationwide</p>
							<h6 class="mb-0 mt-4"><a class="button" href="#">Get Your Ticket</a></h6>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer_2i">
							<h5 class="col_oran mb-4">Movies</h5>
							<div class="row footer_1ism">
								<h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Action</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Adventure</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Animation</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Thriller</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Crime</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Comedy</a></h6>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer_2i">
							<h5 class="col_oran mb-4">Links</h5>
							<div class="row footer_1ism">
								<h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> About Us</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> My account</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> News</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Latest Events</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
								<h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer_2i">
							<h5 class="col_oran mb-4">Newsletter</h5>
							<p class="text-white-50">Subscribe to Leitmotif newsletter this very day.</p>
							<div class="input-group bg-white">
								<input type="text" class="form-control bg-transparent rounded-0 border-0" placeholder="Enter Your Email">
								<span class="input-group-btn">
									<button class="btn btn-primary bg-transparent rounded-0 border-0 col_oran p-3" type="button">
										<i class="fa fa-location-arrow"></i>
									</button>
								</span>
							</div>
							<div class="form-check mt-3 text-white-50">
								<input class="form-check-input" type="checkbox" value="">
								<label class="form-check-label" for="flexCheckDefault">
									I agree to all terms and policies of the company
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer_b" class="pt-3 pb-3 bg-dark">
			<div class="container-xl">
				<div class="footer_b1 row text-center">
					<div class="col-md-12">
						<p class="mb-0 text-white-50">© 2025 YSL Cinema Ticketing. All Rights Reserved | Design by <a class="col_oran fw-bold">BC Pro Group</a></p>
					</div>
				</div>
			</div>
		</section>

		<!-- Video Modal -->
		<div class="modal fade" id="templateVideoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title" id="videoModalLabel">  Video</h2>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- YouTube Embed -->
						<div class="ratio ratio-16x9">
							<iframe id="youtubeVideo" src="" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope" loading="lazy" allowfullscreen></iframe>
						</div>


					</div>

				</div>
			</div>
		</div>
		<!-- JavaScript to pause the video when modal is closed -->
		<script>
			var templateVideoModal = document.getElementById('templateVideoModal');
			 templateVideoModal.addEventListener('hide.bs.modal', function () {
			   var iframe = document.getElementById('youtubeVideo');
			   iframe.src = '';
			 });

			 templateVideoModal.addEventListener('show.bs.modal', function () {
			   var iframe = document.getElementById('youtubeVideo');
			   iframe.src = 'https://www.youtube.com/embed/xHYMdZvV1f0?autoplay=1';
			 });
		</script>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.validate.unobtrusive.min.js"></script>
	<script src="/js/app.js" asp-append-version="true"></script>
	<script src="/js/common.js"></script>
	@RenderSection("Scripts", required: false)
		@RenderSection("foot", false)
</body>
</html>